<p>
  <%= link_to 'New album', :controller => :albums, :action => :new %>
</p>

<% if @albums and @albums.size > 0 %>
  <table>
    <tr>
      <th>
        Title
      </th>
      <th>
        Summary
      </th>
      <th>
        Location
      </th>
      <th>
        Access
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
    <% @albums.each do |album| %>
      <tr>
        <td>
          <%= album.title %>
        </td>
        <td>
          <%= album.summary %>
        </td>
        <td>
          <%= album.location %>
        </td>
        <td>
          <%= album.access %>
        </td>
        <td>
          <%= link_to 'Edit', :controller => :albums, :action => :edit, :id => album.picasa_id %>
        </td>
        <td>
          <%= link_to 'Destroy', :controller => :albums, :action => :destroy, :id => album.picasa_id %>
        </td>
      </tr>
    <% end%>
  </table>
<% else %>
  <em>No albums found.</em>
<% end %>
