<entry xmlns='http://www.w3.org/2005/Atom' 
  xmlns:media='http://search.yahoo.com/mrss/' 
  xmlns:gphoto='http://schemas.google.com/photos/2007'>
  
  <title type='text'><%= params[:title] %></title>
  <summary type='text'><%= params[:summary] %></summary>
  
  <gphoto:location><%= params[:location] %></gphoto:location>
  <gphoto:access><%= params[:access] %></gphoto:access>
  <gphoto:timestamp><%= "#{Time.now.to_i}000" %></gphoto:timestamp>
  
  <media:group>
    <media:keywords><%= params[:keywords] %></media:keywords>
  </media:group>
  
  <category 
    scheme='http://schemas.google.com/g/2005#kind' 
    term='http://schemas.google.com/photos/2007#album'>
  </category>
</entry>
